.box {
    position: relative;
    width: 526rpx;
}

.logo {
    width: 200rpx;
    height: 200rpx;
}

.bottom-text {
    // color: #C5C5C5;
    color: var(--primary);
    font-size: 30rpx;
    margin-top: 32rpx;
}